# {{ ansible_managed }}

[Unit]
Description=Nautobot Celery Beat Scheduler
Documentation=https://nautobot.readthedocs.io/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="NAUTOBOT_ROOT={{ nautobot_root }}"

User={{ nautobot_system_user }}
Group={{ nautobot_system_user }}
PIDFile=/var/tmp/nautobot-scheduler.pid
WorkingDirectory={{ nautobot_root }}

ExecStart={{ nautobot_root }}/bin/nautobot-server celery beat --loglevel INFO --pidfile /var/tmp/nautobot-scheduler.pid

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
